DATABASE_URL=sqlite:///./app.db
SECRET_KEY=your-secret-key-here
DEBUG=false
ALLOWED_HOSTS=["*"]

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=favmac007@gmail.com
SMTP_PASSWORD=klglksemeyayidy
SMTP_FROM_EMAIL=favmac007@gmail.com
SMTP_FROM_NAME="Merchant Core API"
